/*
Theme Name: El super Tema
Theme URI:
Author: Bryant Acero / RDS
Author URI:
Description: Esta es el tema
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: RDS
Text Domain: RDS
*/

body, #body_id {
    font-family: 'Raleway', sans-serif;
    /* background-color: rgb(239,239,239,10);*/
}


/* textos */
    
    h3{
        font-weight: 700;
    }
    h2{
        font-weight: 900;
    }

    h4{
        font-size: 2.5rem;
    }

    h5{
        font-style: italic;
        font-weight: 700;
    }

    @media (max-width: 575.98px) { 
        h1{
            font-size: 12vw;
        }

        h2{
            font-size: 8vw;
        }
        h3{
            font-size: 4vw;
        }
     }


    @media (min-width: 576px) and (max-width: 767.98px) {
        h1{
            font-size: 10vw;
        }
         h2{
            font-size: 3vw;
        }
        h3{
            font-size: 3vw;
        }
    }


    @media (min-width: 768px) and (max-width: 991.98px) { 
        h1{
            font-size: 7vw;
        }
         h2{
            font-size: 5vw;
        }
        h3{
            font-size: 2vw;
        }
    }


    @media (min-width: 992px) and (max-width: 1199.98px) { 
        h1{
            font-size: 5vw;
        } 
        h2{
            font-size: 3vw;
        }
        h3{
            font-size: 2vw;
        }
     }


    @media (min-width: 1200px) { 
        h1{
            font-size: 6vw;
        }
         h2{
            font-size: 4vw;
        }
        h3{
            font-size: 1vw;
        }
    }



/* END textos */

/* BARRA de NAVEGACION */
	.navbar {
        padding: 0px;
    }

    #bar_top{
        background-color: rgba(0,79,163, .5);
    }

     .bar_dark{
        background-color: rgba(0,79,163, 10) !important;
    }


	@media only screen and (min-width:1200px) {
		#bar_top {
        width: 100%;
		
        min-height: 60px;
		max-height: 60px;
		
        }

		 .navbar-brand {
    	margin-left: 110px;
        margin-top: 10px;
    	}  

    	.navbar-nav{
    	position: absolute;
    	right: 0%;
		}

		.burger-menu{
			display: none;
		}

		.navbar-brand-link img{
    	height: 100px;
    	width: auto;
    	}

    	 .carousel{
    	margin-top: 0px;
        
   		}
        #principal-var{
            position: absolute !important;
            top: 0;
            right: 0;
            left: 0;
        }

         .nav-link span{
         display: none;
    }

    .navbar-nav li {
        margin-right: 17px;
    }
	}

	@media only screen and (max-width:1199px) {
		#bar_top {
        width: 100%;
        background-color: rgba(0,79,163, 10) !important;
        min-height: 70px;
        max-height: 70px;
        text-align: center;
        
        }
        
        .carousel-index{
           margin-top: 60px !important;
    	}
        
        .navbar-brand{
            width: 55px;
            height: auto;
            text-align: center;

        }

        #menuId{
            background-color: rgba(0,79,163, .5) !important;
            width: 100%;
            padding: 20px;
            

            
            text-align: center;
            text-transform: uppercase;
            padding-bottom: 100px;
        }
        
        #menuId li{
           background-color: rgba(0,79,163, 10);
           margin-top: 1px;
        }

        #menuId li a{
            font-size: 30px;
        }

        #principal-var{
              max-height: 100vh;
              overflow: auto;
        }

        .fixed-top::-webkit-scrollbar{
            
            width: 0px;  /* remove scrollbar space */
            background: transparent;  /* optional: just make scrollbar invisible */
        }


		
	}

    #target{
        outline: none;
    }
    



	nav ul li a {
		color: #004fa3;
		text-transform: uppercase;
		font-weight: bold;
    }

	.current_page_item a {
		color: white !important;
	}

    nav li a:hover {
        color: rgba(0,79,163,10) !important;
        background-color: rgba(255,221,17,10) !important;
        border-radius: 5px;
    }

	.current_page_item {
		background-color: #004fa3;
		border-radius: 5px;
	}

    .nav-link{
    	color: white !important;
    	font-size: 12px;
        font-weight: 700;
    }
    .lang-item{
        margin-right: 0px !important;
    }

    .navbar-toggler-icon{
        color: yellow !important;
        
    }

    .navbar-toggler{
       border-color: rgba(255,221,17,10) !important;
    }

    .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,221,17,10)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    #div-toogler{
        text-align: right; 
        margin-top: -60px;
        width: 100%;
        padding-right: 10px;
    }

    .dropdown-menu{
        background-color: rgba(0,79,163, .5);
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 12px;
        border-radius: 0px;
    }

    .dropdown-menu li{
        margin: 0;
    }

    .listado > a{
        background: url('images/arrow_dowm_b.svg');
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: right;
        background-position-x: 90%;
        padding-right: 20px !important;
    }


    @media only screen and (max-width:1199px) {
       .listado > a{
        
        background-position-x: 90%;
        
        } 
    }

    




/* END BARRA de NAVEGACION */

/* BANNER */

    @media only screen and (max-width: 575px){
        .carousel-type-big{
            display: none;
        }
        .carousel-type-small{
            display: block;
        }
    }

    @media only screen and (min-width: 576px){
        .carousel-type-big{
            display: block;
        }
        .carousel-type-small{
            display: none;
        }
    }

/* END BANNER */




/* ESLOGAN */ 
    
    .slogan-container{
        padding-top: 20px;
        padding-bottom: 20px;
         background-attachment: fixed;


        /* NO funciona en background-position: center; */

        background-repeat: no-repeat;
        background-size: cover;

        -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }

    
        
    @media only screen and (max-width:991px) {
        .slogans{
            display: table;
            margin: 0 auto;
            width: 100%;
            text-align: center;
            position: relative;
        }

        .slogan-quotes{
        font-size: 5vw;
        }
    }

     @media only screen and (min-width:992px) {
        .slogans{
        z-index: 10;
        display: table;
        margin: 0 auto;
        width: 90%;
        
        text-align: center;
        position: relative;
        border-radius: 5px;
        margin-top: -20px;
        }
     }

    

    .slogan-quotes{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        text-transform: uppercase;
        color: white;
        font-weight: 300;
    }
    .slogan-quotes{
        quotes: "“ " " ”" "‘" "’";
    }
    .slogan-quotes:before {
        content: open-quote;
    }
    .slogan-quotes:after {
        content: close-quote;
    }



/* END SLOGAN */ 

/* VIDEO */
.video-container{
    padding: 0px !important;
}
 #video-index{
    z-index: 899;

    width: 100%;
    height: 100%;

    padding-bottom: 0px;
   
    
    
 }
    @media only screen and (max-width:991px) {
        #video-index{
        width: 100%;
        height: 400px;
       }
    }
    @media only screen and (min-width:992px) {
        #video-index{
        z-index: 1;
        width: 100%;
        height: 500px;
        
        }
    }

/* END VIDEO */

/* NOTICIAS y CRONOGRAMA */
    
    .nc-container{
        margin-top: -7px;
        background-attachment: fixed;


        /* NO funciona en background-position: center; */

        background-repeat: no-repeat;
        background-size: cover;

        -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }


    @media only screen and (max-width:991px) {
       .nc-title{
        padding-top: 15px;
        padding-bottom: 0px !important;
        }
        .con-cot-cro{
            padding-top: 50px;
        }
    }

    .nc-title h2{
        text-transform: uppercase;
    }

    
    .nc-title{
        padding-top: 30px;
        padding-bottom: 30px;
    }

   

    .nc-date{
        width: auto;
        color: rgba(0,79,163,10);
        position: absolute;
        margin-top: -20px;
        margin-left: 10px;
    }
   
    .not-cro img {
        width: 100%;
        height: auto;

    }
    .not-cro .card-text{
        text-align: justify;

    }
    .card-body{
         color: black;
    }
    

    .not-cro .day{
        background-color: rgba(255,221,17,10) !important;
        padding-bottom: 2px;
    }

    .day h3{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 25px;
    }
    .not-cro .month{
        background-color: white !important;
    }

    .div-more{
        padding-top: 20px;
    }

    .div-more a, .search-item a{
        background-color: rgba(255,221,17,10) !important;
        border-color: none;
        color: rgba(0,79,163,10) !important;
        font-weight: bold;
        text-transform: uppercase;
    }

    .row-stuck{
        padding-left: 7%;
        padding-right: 7%;
    }

    .row-nc{
        position: relative;
        background-color: rgba(0,79,163,.3) !important;
        color: white;
        padding-bottom: 35px;
        
    }

    .divider{
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        height: 100%;
        width:50px;
        padding-top: 1%;

    }
    
    .divider hr{
       
        border: none;
        border-right: 3px solid rgba(255,221,17,10) !important;
        border-left: 3px solid rgba(255,221,17,10) !important;
        height: 82%;
        width: 5px;  
    }

    @media only screen and (max-width:991px) {
        .divider{
            display: none;
         }
    }
    @media only screen and (min-width:992px) {
        .divider{
            display: block;
         }
    }
    


/* END NOTICIAS y CRONOGRAMA */


/* LINKS INDEX */

    .links-carousel-container, .links-normal-container{
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: white;
    }

    .links-title{
        text-transform: uppercase;
        padding-top: 15px;
        font-weight: 700;
        font-style: italic;
    }

    #linksCarousel .carousel-item a, .links-normal-container a{
        margin: auto;
        text-align: center;
        color: black;
        text-decoration:none;
    }

    .img-link-carousel{
        width: 80px !important;
        height: auto;
    }


    @media only screen and (max-width:991px) {
        .links-carousel-container{
            display: block;
         }
         .links-normal-container{
            display: none;
         }
    }
    @media only screen and (min-width:992px) {
        .links-carousel-container{
            display: none;
         }
        .links-normal-container{
            display: block;
         }
    }
   
    

/* END LINKS INDEX */

/* Modal Inicio */

    #modal-ini img{
        max-width: 100%;
        height: auto;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

/* END modal inicio */ 


/* FOOTER */

    .row-comunity{
        padding-left: 5%;
        padding-right: 5%;
    }

    .comunity-logo{
        text-align: center;
    }

    .comunity-logo img{
       width: 40%;
        height: auto;
        transform-origin: 50% 50%;
        
    }

    @media only screen and (min-width:992px) {
        .comunity-logo img{
        width: 100%;
        height: auto;
        transform-origin: 50% 50%;
        margin-top: -10%;

        }
    }



    @media only screen and (max-width:991px) {
        

        .c-icons{
           
        }

       .footer-con .row{
        padding-top: 0px;
        padding-bottom: 20px;
        }

        .arrow_up {
          top: -20px;
        }
        .arrow_up img{
           width: 40px;
           height: auto;
        }
        .comunity-icon{
            font-size: 6vw;
            text-decoration:none;
            color: white;    
        }
    }
    .comunity img{
        width: auto;
        height: 100%;
        }

    @media only screen and (min-width:992px) {
        
        .footer-con .row{
        padding-top: 0px;
        padding-bottom: 20px;
        }

        .arrow_up {
          top: -24px;
        }
        .arrow_up img{
           width: 48px;
        }

        .comunity-icon{
        font-size: 2vw;
    }

    }
    .footer-con{
        position: relative;

        color: white;

        background-attachment: fixed;


        /* NO funciona en background-position: center; */

        background-repeat: no-repeat;
        background-size: cover;

            -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    

    .comunity{
        display : flex;
        align-items : center;
        justify-content: center;
    }
    .comunity a{
       text-decoration:none;
       color: white;
    }
    
    .adress{
        text-align: center;
    }
    .arrow_up {
       text-align: center;
       position: relative;
       margin-bottom: -10px;
       
    }
    .arrow_up img{
        transform-origin: 50% 50%;
        
    }
    .c-icons{
        text-align: right;

    }
    .c-icons a{
        padding-right: 10px;
         text-decoration:none;
       color: white;
    }

    .links-footer{
        text-decoration: none;
        color: white;
    }

    .links-footer:hover{
        text-decoration: none;
        color: white;
    }



/* END FOOTER */

/* FLOAT BARRA */
   #sub-menu-door{
        text-decoration: none;
        color: rgba(0,79,163,10);
   }

   .sub-menu-open .link-title-services {
        background: url('images/arrow_r.svg') center left no-repeat;
        padding-left: 20px;
   }

   .sub-menu-close .link-title-services {
        background: url('images/arrow_up.svg') center right no-repeat;
        padding-right: 30px;
   }
   .link-title-services{
    text-transform: uppercase;
   }

   #container-sub-menu{
    position: fixed;
    z-index: 999;
    top: 20%;
    right: 0px;
    overflow-x: hidden;
    /*max-width: 25%;*/
    background-color: rgba(255,221,17,10) ;
     border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;  

    }

    .sub-menu-close {
        width: 40px;
        height: 130px;
        padding-top: 3px;

    }
    .sub-menu-open{
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 0px;
    }
    .sub-menu-open .menu-item a{
        text-transform: uppercase;
        color: rgba(0,79,163,10) !important;
    }

    .sub-menu-open .current_page_item a{
        background-color: rgba(255,221,17,10) !important;
        
    }

    .sub-menu-close #sub-menu-door b{
       transform: rotate(-90deg);
        float: right;
       margin-top: 50px;
       margin-right: -40px;
    }

    .lateral-menu {
        padding-left: 5px;
    }
    .lateral-menu .menu-item{
         list-style-type: none; 
    }
    
    .lateral-menu .menu-item a{
        padding-left: 35px;
    }
    
    #sub-menu-id a:hover  {
        background-color: rgba(0,79,163,10);
        color: white !important;

     }

    /* Iconos   */
    .sic a{
        background: url('images/sic.svg') center left no-repeat;
    }

    .sic a:hover{
        background: url('images/sic_b.svg') center left no-repeat;
    }


    .plinea a{
        background: url('images/pagoenlinea.svg') center left no-repeat;
    }
    .plinea a:hover{
        background: url('images/pagoenlinea_b.svg') center left no-repeat;
    }

    .rest a{
        background: url('images/restaurante.svg') center left no-repeat;
    }
    .rest a:hover{
        background: url('images/restaurante_b.svg') center left no-repeat;
    }

    .coe a{
        background: url('images/coeducacion.svg') center left no-repeat;
    }
    .coe a:hover{
        background: url('images/coeducacion_b.svg') center left no-repeat;
    }

    .egre a{
        background: url('images/egresado.svg') center left no-repeat;
    }
    .egre a:hover{
        background: url('images/egresado_b.svg') center left no-repeat;
    }

    .pub a{
        background: url('images/publicaciones.svg') center left no-repeat;
    }
    .pub a:hover{
        background: url('images/publicaciones_b.svg') center left no-repeat;
    }

    /* END Iconos */ 


    
/* END FLOAT  BARRA */



/* PAGESSSSSS */ 
.hero-image{
    width: 100%;
    height: auto;
}


.contain-page{
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
}
.contain-page p{
    padding-top: 0px;
    text-align: justify;
    padding-bottom: 5px;
}

.contain-page h1 {

    color:rgba(0,79,163,10) !important;
    /* font-size: 9vw; */
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid; 
    border-bottom-width: 1vw;
    border-bottom-style: double;
    border-bottom-color: rgba(255,221,17,10) !important;
    display: inline;
   
}
.page-footer{
    width: 100%;
}

/* END PAGESSSS */ 


/* BLUE BANNER TEXT */
    
    .banner-blue-text{
        position: relative;
        height: 500px;
       
      
    }
    @media (max-width: 575.98px) { 
        
     }


    @media (min-width: 576px) and (max-width: 767.98px) {
        
    }


    @media (min-width: 768px) and (max-width: 991.98px) { 
        
    }


    @media (min-width: 992px) and (max-width: 1199.98px) { 
        
     }


    @media (min-width: 1200px) { 
        
    }









    .blue-banner-image{
        width: 100%;
        height: 100%;

         background-attachment: fixed;


       background: center;

        background-repeat: no-repeat;
        background-size: cover;

        -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
    }

/* END BLUE BANNER TEXT */


/* TEXT BANNER */
    
    .text-on-banner{
        margin-top: 110px;
        padding-right: 8%;
        padding-left: 8%;
        color: white;
        text-align: justify;
    }

    


    
    
    



    .text-on-banner{
      
    }

    .text-on-banner h1{
       
        text-transform: uppercase;
        font-weight: 900;
        display: inline;
    }

    .filter-blue{
        position: absolute;
        left: 0;
        top: 0;
        min-width: 100%;
        height: 100%;
        background-color: rgba(0,79,163, .5) !important;
    }

    .tiles{
        padding-right: 0px;
        padding-left: 0px;
    }


/* END TEXT BANNER */



/* PASTORAL */
    
    .pastoral-container{
        padding-top: 2%;
        
    }

    

    .pastoral-item img{
     width: 100%;
     height: auto;
    }


    .title-pastoral-thumbnail{
        position: absolute;
        top: 95%;
        width: 100%;

        background-color: rgba(0,79,163, 10);
        text-align: center;
    }

    .contain-pastorales{
        position: relative;
              
    }

    .pastoral-item a{
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        padding-top: 10px;
    }
    .hover-pastoral{
        position: absolute;
        left: 0;
        top: 0;
        min-width: 100%;
        height: 100%;
       
    }

    

    /*
    .hover-pastoral:hover{
        background-color: rgba(255,221,17,.5) !important; 
    }

    .hover-pastoral:hover img{
        display: block; 
    }
    */

    .hover-pastoral img{
       position: absolute;
       left: 50%;
       top: 50%;
       width: 50px;
       height: auto;
       transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%)
    }
   

    .title-pastoral-thumbnail{
        padding-top: 1%;
      
        
    }

   
    

    @media only screen and (max-width:767px) {
        .contain-pastorales-back {
            background-image: none;
           
        }
        .contain-pastorales img{
          display: block;
         
           
        }

        .pastoral-item{
            padding-bottom: 35px;
        }



        
        
    }

    
    @media only screen and (min-width:768px) {
        .contain-pastorales img{
            display: none;    
           
        }

        .contain-pastorales-back{
           
            width: 100%;
            height: 20vw;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        .pastoral-item{
            padding-bottom: 50px;
        }

    .contain-pastorales-back{
        position: relative;
        -webkit-filter: grayscale(100%);
        filter: gray;
        
    }

    .pastoral-function:hover .contain-pastorales-back{
        position: relative;
        -webkit-filter: grayscale(0%);
        filter: none;
        
    }

        
    }
    .galery-independent{
        position: relative;
        padding-top: 35px;
    }

    .closer{
        position: absolute;
        top: 10px;
        left: 20px;
       
    }
    

    @media only screen and (min-width:980px) {
        .closer{
            margin-top: -70px;
        }
    }

    @media only screen and (max-width:979px) {
        .closer{
            margin-top: -20px;
        }
    }



    .galery-independent p{
        padding: 5%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: justify;
    }

    .galery-independent .closer{
        text-align: left;
        font-size: 10vw;
    }

    .galery-independent .carousel{
        margin-top: 5px;
    }
    .galery-independent .closer a{
        color:rgba(0,79,163,10) !important;
        text-decoration: none;
    }


    .pastoral-ima-item{
        
        padding-right: 10%;
        padding-left: 10%;
        padding-top: 0px;
    }

    .galery-independent .slide{
        padding: 0px !important;
    }

    .galery-independent .title {
        text-align: center;
        color:rgba(0,79,163,10) !important;
        text-transform: uppercase;
        font-weight: bold;

    }


    .galery-independent .carousel-control-next{
        right: 7%;
    }
    .galery-independent .carousel-control-prev{
        left: 7%;
    }

    .closer-cross{
        font-size: 3.5vw;
    }

   

/* END PASTORAL */


/* AREAS  */
    .areas-contain{
        margin-bottom: 40px;
    }

    @media only screen and (max-width:767px) {
        .areas-contain{
            padding-bottom: 20px;
        }       
    }
    

    .area-conten{
        padding-top: 25px;
    }
    
    .areas-img{
        width: 100%;
        height: auto;
    }
    .hover-areas{
        position: absolute;
        left: 0;
        top: 0;
        min-width: 100%;
        height: 100%;

       
    }



   
    .hover-areas-link:hover .hover-areas{
        background-color: rgba(255,221,17,.5) !important; 
    }
    .hover-areas-link:hover .hover-areas img{
        display: block; 
    }

    .hover-areas:hover{
        background-color: rgba(255,221,17,.5) !important; 
    }

    .hover-areas:hover img{
        display: block; 
    }

    .hover-areas img{
       position: absolute;
       left: 50%;
       top: 50%;
       width: 50px;
       height: auto;
       transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
       display: none;

    }

    .areas-title h3{
        
        padding:  5px;
        background-color: rgba(0,79,163,10) !important; 
    }

   

   

    .hover-areas-link,.hover-areas-link:hover{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        text-align: center;
    }



/* END  AREAS  */ 


/* FIXED SERVICIOS */ 



@media only screen and (min-width:992px) {
    #container-sub-menu{
      display: block;
    }
    #container-sub-menu .title{
        padding-bottom: 15px;
        
    }
    #postsCarousel{
      display: none;
    }
}

@media only screen and (max-width:991px) {
    #container-sub-menu{
      display: none;
    }

    #postsCarousel{
      display: block;
    }

    #footer-comodin{
        height: 20vh;
    }

    
}

.logos-servicios-footer{
    padding-top: 5px;
    width: 40px;
    height: auto;
}
    
 #fixed-servicios {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(0,79,163,10) !important; 
   color: white;
   text-align: center;
  
}
.sub-menu-footer{
    padding: 0px;
    padding-bottom: 5px;
    
}
.sub-menu-footer a{
    text-decoration: none;
    color: white;

}
.sub-menu-footer {
    text-align: center;
}
.sub-menu-footer b{
   width: 100%;
   text-align: center;
   font-size: 1.5vw;
   display: block;
   text-transform: uppercase;

}

.arrow_menu_footer{
    padding: 0;
}
.arrow_menu_footer a{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}
.arrow_menu_footer a img{
    width: 80%;
    height: auto;
}

.row-menu-footer{
    padding-top: 5px;
    padding-bottom: 5px;
}


@media only screen and (max-width:575px) {
    .sub-menu-footer b{
       
       font-size: 2.1vw;

    }
}

.carousel-item-prev,
.carousel-item-next,
.carousel-item.active {
    display:flex;
}




/* smoother transitions */
.carousel-inner>.carousel-item.next.left,
.carousel-inner>.carousel-item.prev.right,
{
    transition: all 1s ease;
}


/* END FIXED SERVICIOS */

/* SCROLL */
    
.pre-scroll{
    direction: rtl;    
    padding: 5% !important;
    height: 100%;
    
    overflow-x: auto;
    margin-top: 12px;
    
}

    @media (min-width: 992px) and (max-width: 1199.98px) { 
       .pre-scroll{
         max-height: 250px !important;
        }
     }

     @media (min-width: 1200px) and (max-width: 1399.98px) { 
       .pre-scroll{
         max-height: 300px !important;
        }
     }


    @media (min-width: 1400px) { 
       .pre-scroll{
         max-height: 400px !important;
        }
    }



.pre-scroll p{
    direction:ltr;

    text-align: justify;
}

/* width */
.pre-scroll::-webkit-scrollbar {
    width: 10px;

}

/* Track */
.pre-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0,79,163,10); 
    border-radius: 20px;
}
 
/* Handle */
.pre-scroll::-webkit-scrollbar-thumb {
    background: rgba(0,79,163,10); 
    border-radius: 10px;
}

/* Handle on hover */
.pre-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(0,79,163,10); 
}

/* END SCROLL*/ 

/* SCROLL 2 */
    
.pre-scroll-2{
    direction: rtl;    
    padding: 5% !important;
    height: 100%;
    
    overflow-x: auto;
    margin-top: 12px;
    
}

    @media (min-width: 992px) and (max-width: 1199.98px) { 
       .pre-scroll-2{
         max-height: 200px !important;
        }
     }

     @media (min-width: 1200px){ 
       .pre-scroll-2{
         max-height: 200px !important;
        }
     }





.pre-scroll-2 p{
    direction:ltr;

    text-align: justify;
}

/* width */
.pre-scroll-2::-webkit-scrollbar {
    width: 10px;

}

/* Track */
.pre-scroll-2::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0,79,163,10); 
    border-radius: 20px;
}
 
/* Handle */
.pre-scroll-2::-webkit-scrollbar-thumb {
    background: rgba(0,79,163,10); 
    border-radius: 10px;
}

/* Handle on hover */
.pre-scroll-2::-webkit-scrollbar-thumb:hover {
    background: rgba(0,79,163,10); 
}

/* END SCROLL 2*/


/* INSTITUCION */
.info{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 1000px;
}

.img-cont{
    max-width: 1000px;
}
.info h2{

    text-align: center;
    color:rgba(0,79,163,10) !important;
    
    text-transform: uppercase;
   
    border-bottom: solid; 
    border-bottom-width: 5px;
    border-bottom-style: double;
    border-bottom-color: rgba(255,221,17,10) !important;
    display: inline;
   
}
.institucion-contain .row div{
    padding-left: 0px;
    padding-right: 0px;
}
/* END INSTITUCION */
  
/* CONTACTO */

.contain-map{
    width: 100%;
    height: auto;
     background-attachment: fixed;
     background-position: center;

        /* NO funciona en background-position: center; */

        background-repeat: no-repeat;
        background-size: cover;

        -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.contact-form2{
   
   
    width: 40%;
    min-width: 300px;
    height: auto;
    background-color: #F5F5F5;
    border: solid 7px rgba(0,79,163,10);
    padding: 1%;
    border-radius: 5px;
}


.contact-form2 input , .contact-form2 textarea, .contact-form2 select {
    border-radius: 5px;
    border: solid 2px rgba(0,79,163,10);
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    height: 50px;
}



.submit_buttons
{
  background-color: rgba(0,79,163,10);
  color: white;
  text-transform: uppercase;
  font-weight: 700;

}

.wpcf7-recaptcha > div {
    margin: auto;
    margin-bottom: 2%;
}

.contact-form2{
    position: absolute;
    top: 5%;
    left: 10%;
    width: 30%;
    height: auto;
    background-color: #F5F5F5;
    border: solid 7px rgba(0,79,163,10);
    padding: 1%;
    border-radius: 5px;
}


.contain-map2{
    width: 100%;
    height: auto;
    
}

.iframe-map{
    border:0; 
    width: 100%; 
    height: 800px;
}

.fluid-map{
    
    padding-left: 0px;
    padding-right: 0px;
}


@media (max-width: 991px) { 
    .contact-form2{
        position: relative;
        width: 100%;
        left: 0px;
        border-radius: 0px;
        padding: 10%;
        }
    .iframe-map{
        
        height: 500px;
        }
   
}

.contain-fluid-finish{
    margin-bottom: -8px;
}

/* END CONTACTO*/

/* SINGLE AREAS */

.single-areas h1{
    padding-top: 60px;
    color: rgba(0,79,163,10);
    text-transform: uppercase;
    font-weight: 900;
}

.info_single h3{
        
        font-weight: 900;
}

.info_single p{
    text-align: justify;
}



@media (min-width: 768px) { 
    .info_single_one{
    padding-left: 50px;
    }
}

@media (max-width: 575.98px) { 
       
        .info_single h3{
           font-size: 20px;
        }
     }


    @media (min-width: 576px) and (max-width: 767.98px) {
        .info_single h3{
           font-size: 20px;
        }
    }


    @media (min-width: 768px) and (max-width: 991.98px) { 
        .info_single h3{
           font-size: 30px;
        }
    }


    @media (min-width: 992px) and (max-width: 1199.98px) { 
       .info_single h3{
           font-size: 32px;
        }
     }


    @media (min-width: 1200px) { 
        .info_single h3{
           font-size: 40px;
        }
    }


@media (max-width: 767px){
    .info_single{
        padding-top: 20px;

    }
}


@media (min-width: 576px) { 
       
        .single-description{
           padding-top: 30px;

        }
     }
.single-description{
    padding-bottom: 20px;

}
.single-description p{
    padding-top: 30px;
}


.info_single h2 , .info_single_one h3{

   
    color:rgba(0,79,163,10) !important;
    
    text-transform: uppercase;
   
    border-bottom: solid; 
    border-bottom-width: 5px;
    border-bottom-style: double;
    border-bottom-color: rgba(255,221,17,10) !important;
    display: inline;
   
}

.members ul{
    direction: ltr !important;
}


 @media (min-width: 768px) and (max-width: 991px) { 
       .pre-single{
         max-height: 180px !important;
         padding-left: 20px !important;
        }
     }

     @media (min-width: 992px) and (max-width: 1399.98px) { 
       .pre-single{
         max-height: 400px !important;
        }
     }


    @media (min-width: 1400px) { 
       .pre-single{
         max-height: 500px !important;
        }

        .members{
                padding-left: 0px !important;
                padding-right: 0px !important;
            }
    }



.members ul {
    list-style: none;
    padding-left: 0px;
    text-transform: capitalize;
}

.members li:before {
    width: 10px;
    content: "•"; 
    color: rgba(0,79,163,10);
    display: inline-block; 
    
    margin-left:0px;
}


.info_single .gallery{
    display: none;
}
/* END SINGLE AREAS */


/* SEARCH */
.contain-search{
    position: absolute;
    top: 40px;
    right: 15px;
    background-color: rgba(0,79,163,10);
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}



.submit_buttons_yellow
{
  background-color: rgba(255,221,17,10);
  color: rgba(0,79,163,10);
  text-transform: uppercase;
  font-weight: 700;
  height: 51px !important;
  width: 28% !important;
}

.contain-search input{
   
    border-radius: 5px;
    border: solid 2px rgba(0,79,163,10);
    padding-left: 2%;
    padding-right: 2%;
    height: 49px;
    width: 70%;
}


.menu-header-search{
    margin-right: 0px !important;
    width: 50px;
    padding: 5px;
    
   
}
#glass{
    padding: 5px;
}

#glass img{
    width: 20px;
    height: auto;
}

@media (max-width: 1199px) { 
    #mysearch{
        display: block !important;
       
       
    }

    .contain-search{
    position: relative;
    top: 0px;
    right: 5px;
    margin: auto;
    width: 90%;
    background-color: rgba(255,221,17,10);
    }

    #myglass{
        display: none;
    }

    .menu-header-search{
   
    width:100% ;
    background-color: transparent !important;
    padding: 0px;
    padding-top: 15px;
    }

    .contain-search input{
        width: 70%;
        border:none;
    }
    .contain-search .submit_buttons_yellow{
        width: 20%;
        background-color: rgba(0,79,163,10);
        color: white;
    }

}
/* END SEARCH */

/* SEARCH ITEMS */

.search-container{
    padding-bottom: 70px;
}

.search-item {
    padding-top: 5%;
}
.search-item h2{
    color: rgba(0,79,163,10);
    text-transform: uppercase;
}

.search-item p{
    text-align: justify;
}


.search-title h1{

    display: inline-block;
    color:rgba(0,79,163,10) !important;
    text-transform: uppercase;
    border-bottom: solid; 
    border-bottom-width: 5px;
    border-bottom-style: double;
    border-bottom-color: rgba(255,221,17,10) !important;
    margin-bottom: 5px;
}

@media (max-width: 991px){
   .search-item{
    padding-bottom: 10%;
   } 
}

/* END SEARCH ITEMS */

/* NOTICIAS */
    .title-noticia{
        margin-bottom: 10px;
        font-size: 6vh;
        margin-top: 5%;
    }
/* END NOTICIAS */

/* TAGS */
.container-tags{
    
    margin-top: 20px;
    max-width: 100%;
   

}
 .container-tags a {
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: rgba(0,79,163,10);
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 5px;
    margin-top: 5px;
    
    
    display:inline-block;
 

 }

 .noticiero-tags{
    margin-top: 50px;
 }
/* ENd TAGS */

/* PAGINATE */
.containner-paginate{
   margin-bottom: 40px;
}
.paginate a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0,79,163,10);

}

.paginate .prev-b, .paginate .next-b{
    padding-left: 10px;
    padding-right: 10px;
}

.paginate span{
    background-color: rgba(255,221,17,10);
    font-weight: 700;
    border-radius: 5px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(0,79,163,10);
}
.page-numbers img{
    width: 15px;
    height: auto;
}



/* END PAGINATE*/

.btn-blue{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border-radius: 5px;

    background-color: rgba(0,79,163,10);

}


/* LANGUAJES */
.lang-item {
    display: inline;
}

.lang-item {
    list-style: none;
}

@media (min-width: 1199px) { 
    .lang-item-first a{
        border-right: 1.5px solid white;
    }
}


#access img {
    margin-bottom: 0px;
}
/* END LANGUAJES*/

/* ADMISIONES */

    .admisiones-header a , .circular-description a , .cuerpo a{
        border-radius: 5px;
        border: solid 2px rgba(0,79,163,10);
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 50px;
    }

    .admisiones-header a:hover{
        text-decoration: none;
        color: white;
    }

    /*.admisiones-header h1{
   
    color: rgba(0,79,163,10);
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px;
    }*/

    .admisiones-header p{
        text-align: justify;
    }

    .steps-container{
        position: relative;
        /* padding-top: 70px; */
        margin-bottom: 20px;
    }

    .steps-container{
        text-transform: uppercase;
    }
    
    
    .steps-container .divider {
        top: 0;
    }
    .title-steps{
        padding-top: 20px;
        text-align: center;
    }

    .step-description{
        padding-top: 20px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .steps-description h3{
        color: rgba(0,79,163,10);
    }
    .steps-description div p{
        text-transform: none;
        text-align: justify;
    }

    .title-steps h3{
        font-size: 12px;
    }

    .steps-click,.stepby{
        text-decoration: none;
        color: rgba(0,79,163,10);
    }

    .steps-click:hover{
        text-decoration: none;
    }

    .steps-click img{
        width: 80%;
        height: auto;
    }

    

    .step-full-description{
        padding-top: 5%;
    }

    .step-logo-y{
        display: none;
    }

    .tal div:first-child .step-logo-y{
         display: inline-block;

    }
    .tal div:first-child .step-logo-b{
         display: none;
    }

    @media (min-width: 768px) and (max-width: 991px) { 
        .steps-click span{
            display: block;
        }
        .steps-click img{
            width: 50%;
            height: auto;
        }
    }


    .notes-admisiones{
        background-color: rgba(0,79,163,10);
        color: white;
    }

    .notes-arrows-img{
        height: 35px;
        width: auto;
    }
    .notes-arrows{
        width: 4%;
        opacity: 10;
    }
    #admisionesCarousel  .carousel-item{
       padding: 30px 5% 30px 5%;

    }


    @media (min-width: 992px) { 
        .notes-important{
            height: 350px;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) { 
        .notes-important{
            height: 400px;
        }
    }

    @media (min-width: 576px) and (max-width: 767px) { 
        .notes-important{
            height: 420px;
        }
    }

    @media (max-width: 575px) { 
        .notes-important{
            min-height: 700px;
        }
    }

    .notes-important a span, .notes-important a {
        color: white;
        font-weight: 900 !important;
        text-decoration: underline !important;

    }






/* END ADMISIONES */


/* NOTICIAS  / noticiero */ 
.pg-noticias{
    margin-top: 30px;
    text-align: center;
}

.per-notice time{
    margin-top: 300px;
}
.per-notice time .day{
    background-color: rgba(255,221,17,10);
    text-align: center;
}
.per-notice time h3, .nc-date-noticiero h3{
    margin-bottom: 0px;
    color: rgba(0,79,163,10);
    text-align: center;
    font-weight: 900;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    
}
.per-notice time .month{
    background-color: rgba(0,79,163,10);
    text-align: center;
    color: white; 
}

.noticiero-card{
    position: relative;
}
.nc-date-inside{
    position: absolute;
    top: 0;
    left: 5%;
    width: auto;
}

.nc-date-noticiero{
    max-width: 60px;

}

.lateral-date{
    padding-right: 0px;
}
/* END NOTICIAS / noticiero */


/* Publicaciones */
.all-publish{
    margin-top: 40px;
}

.publicaciones-link a{
    color: rgba(0,79,163,10);
    font-weight: 700;
}
/* END publicaciones */ 

/* convenios */
.convenios-banner p {

   
    quotes: "“ " " ”" "‘" "’";
    
    
}   
.slogan-pages{

    text-transform: uppercase;
    quotes: "“ " " ”" "‘" "’";
    font-size: 150%;
    font-weight: 100;
    font-style: italic;
}
.convenios-banner p:before{
    content: open-quote;
}

.convenios-banner p:after{
    content: close-quote;
}

 @media (max-width: 576px) { 
    .convenios-banner , .interinstitu, .univ-logos{
    padding-left: 5px !important;
    padding-right: 5px !important;
    }

    .convenios-banner p{
    margin-top: 10%;
    padding-left: 5% !important;
    padding-right: 5% !important;
    }
	
}

.row-convenios{
    position: relative;
}
.text-two-columns, .text-three-columns{

    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left !important;
}

.text-two-columns h2{
    text-transform: uppercase;
}

.jardines-title h2{
    text-align: center ;
    text-transform: uppercase;
    padding-top: 40px;
}

.text-three-columns{
    font-weight: 700;
    text-transform: uppercase;
}

 @media (min-width: 577px) { 
    .text-three-columns{
 
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

     -webkit-column-gap: 25px; /* Chrome, Safari, Opera */
    -moz-column-gap: 25px; /* Firefox */
    column-gap: 25px;

    text-align: justify;

    }

    .text-two-columns{
 
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

     -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
    -moz-column-gap: 50px; /* Firefox */
    column-gap: 50px;

    text-align: justify;

    }
	
    
}



.carousel-indicators-numbers {
    font-weight: 700;
    text-transform: uppercase;
   
}

.carousel-indicators-numbers li:nth-child(1){
    margin-left: 10px !important;
}

.carousel-indicators-numbers li {
  text-indent: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  background-color: rgba(0,79,163,10);

 
}
.carousel-indicators-numbers li.active, .carousel-indicators-numbers li:hover {
  margin: 0 2px;
  width: 30px;
  height: 30px;
  background-color: white;
  color: rgba(0,79,163,10);
}

.univ-logos div{
    text-align: center;
}

 .interinstitu{
    color: rgba(0,79,163,10);
    text-transform: uppercase;
    border-bottom: solid; 

    border-bottom-width: 10px;
    border-bottom-style: double;
    border-bottom-color: rgba(255,221,17,10) !important;
    margin-bottom: 50px !important;
    
 }

 .contain-logos-u{
    margin-top: 10px;
    margin-bottom: 40px;
 }

 .logos-universidades{
    padding-left: 50px !important;
    padding-right: 50px !important;
    padding-top: 50px !important;
 }



.amarillofeo{
    background-color:  rgba(255,221,17,10);
    color: rgba(0,79,163,10);
}



.no-slide-j p,.no-slide-j .gallery{
    display: none;
}

.convenios-j-slide{
    padding-top: 50px;
    padding-bottom: 35px;
}
/* END convenios */


/* EScuelas */

.escuelas-container{
    margin-bottom: 40px;
}
.escuelas{
    width: 100 !important;
    text-align: center !important;
    margin-bottom: 30px;
}
.escuelas h1{
    text-align: center;
    
    width: 100% !important;
}

.escuelas-item{
    color: white !important;
}
/* END escuelas */


/* CIRCULARES */
.container-circular{
    margin-bottom: 40px;
}
.circular-logo{
    
    border-style: double;
    border-width: 10px;
    border-top: none; 
    border-bottom: none;
    border-left: none;
    border-color: rgba(255,221,17,10)
}

.circular-description span{
    color: rgba(0,79,163,10);
    font-style: italic;
}

.circular-description h3{
    color: rgba(0,79,163,10);
    font-weight: 900;
    text-transform: uppercase;
}
.conten-circulares{
    margin-top: 50px;
    margin-bottom: 10px;
}

/* END CIRCULARES */


/* INMESION */

.no-slide .gallery {
    display: none;
}

/* END INMERSION */
/* stilos para producioncon*/
.divider-publications{
    height: 20vh;
   border-top: 1px solid gray;
   border-bottom: 1px solid gray;
   display: flex;
   justify-content: center;
   align-items: center;
}
.conten-circulares{
    margin-top: 0;
    margin-bottom: 0;
}
.circular-description a {
    color: rgba(0,79,163,10);
    font-weight: bold;
}
.container-flipbook{
    width:100%;
    height: auto;
    margin:0 auto;
}
.title-category-post{
    color: rgba(0,79,163,10);
    font-size: 1.25rem;
    margin: 0;
    
}
.publication-name{
    font-size: 1.125rem;
    color: rgba(0,79,163,10);
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-image-publicaciones{
    width: 15vh;
    height: auto;
    padding: 1rem;
    margin: 10px;
    display: inherit;
    background: rgba(255,221,17,10);
    border-radius: 10px;
}
.img-categories{
    max-width: 60%;
   	max-height: 25vh;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.container-content-circular{
    margin-left: 1.5rem;
}
.heigth-publications{
    height: 30vh;
}
.heigth-publications .circular-logo{
    height: 25vh;
}
.download-file{
    width: 100%;
}
.circular-description{
    display: flex;
}
.container-download{
    display: flex;
    align-items: center;
}
.btn-category{
   background-color:rgba(0,79,163,10); 
   color: white !important;
   padding: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: initial !important;
   width: 120px;
   margin-right: 10px;
   text-transform: uppercase;
}
.subtitle-category{
    font-size: 2.25rem;
}
.all-publish .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color:rgba(0, 79, 163, 0.15) ;
 }
.container-buttons{
    display: flex;
    
}
.btn-category-detail{
   color: rgba(0,79,163,10);
   border: 2px solid  rgba(0,79,163,10)!important; 
   padding: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: initial !important;
   width: 120px;
   margin-right: 10px;
   text-transform: uppercase;
}
.other-title{
    color: rgba(0,79,163,10);
    padding-top: 4rem;
}
#detail .heigth-publications{
    height: 25vh;

}
#detail .heigth-publications .circular-logo {
    height: 15vh;
}
#detail .container-image-publicaciones{
    width: 20vw;
}
.publication-name{
    color: #212529;
    font-size: 1.5rem;
    margin-top: 0;
}
#detail .circular-description h3 {
    border: none;
    color: rgba(0,79,163,10);
    font-weight: bold;
    width: 100%;
}
#detail .container-content {
    width: 70%; 
}
#detail .subtitle-category{
    font-size: 1.25rem;
}
.icon-image{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}    
.aling-items-category{
	justify-content: flex-end;
}
@media only screen and (max-width: 600px) {
 .aling-items-category{
	justify-content: center;
 }
 .subtitle-category {
    font-size: 1.25rem;
 }
 	.circular-logo {
    border-style: none;
    border-width: 0px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-color: rgba(255,221,17,10);
}
	.heigth-publications {
		height: 40vh;
	}
	.circular-description {
		display: flex;
		justify-content:center;

	}
	.btn-category{
		margin: 0 auto;
	}
	.container-content-circular {
      margin-left: 0rem;
	}
	#detail .heigth-publications {
		height: 35vh;
	}
	#detail .heigth-publications .circular-logo {
		height: 15vh;
	}
	#detail .container-image-publicaciones {
		width: 25vw;
		margin: 0 auto;
	}
	#detail .subtitle-category {
		font-size: 1rem;
	}
	
}
